body{background:#EFF1FA;}
header{width: auto;}
.icon{
    width: 60px;
    padding: auto; 
    margin:40px 10px 0 40px;
}

.text{
    display: inline-block;
    position: absolute;
    
}
.inputText{
    margin:0 0 0 240px;
    font-size:20px;
    border:2px solid #adb5bd;
    background: #EFF1FA;
    color:#0A3871;
    display: inline-block;
    resize: none;
    
}

::placeholder{
    color:#0A3871;
}

.rectangle {
    display: inline-block;
    position: absolute;
    background-color: #e9ecf8;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    margin: 0 0 0 1000px;
    text-align: start;
    box-shadow: 10px 10px 5px #000;
    
}
.imgOff{
    width: 50%;
    position: absolute;
    margin: 50px 0 0 75px;
    
}

#ShowText{
    margin:20px 0 0 30px;
    font-size:20px;
    border:none;
    background: #e9ecf8;
    color:#0A3871;
    
    display:none;
    resize: none;
}
.textAdvice{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 220px 50px 0 50px;
    position: absolute;
   
    
}
.textMessage{
    font-size: 15px;
    text-align: center;
    position: absolute;
    margin-top: 280px;
}

.resultText{
    position: absolute;
    display: flex;
    margin: 50px 50px 0 50px;
    font-size: 20px;
    padding: auto;
    text-align: justify;
}
    
.buttons{
    position:absolute;
    margin: 300px 0 0 240px;
   
}


form label{
    display: block;
    font-size:20px;
    margin-bottom: 50px;
 
}

.EncryptorButton{
    width: 200px;
    font-size: 20px;
    border:none;
    border-radius: 20px;
    padding: 20px 0;
    background-color: #072b61;
    color: #adb5bd;
    display: inline-block;
    
   
}

.EncryptorButton:hover{
    cursor: pointer;
}
.DecryptorButton{
    width: 200px;
    font-size: 20px;
    border:none;
    border-radius: 20px;
    padding: 20px 0;
    background-color: #adb5bd;
    color: #072b61;
    margin-left: 50px;
    
}

.DecryptorButton:hover{
    cursor: pointer;
}

.CopyButton{
    display: none;
    position: absolute;
    margin: 380px 60px 20px 60px;
    font-size: 20px;
    border:none;
    border-radius: 20px;
    background-color: #adb5bd;
    color: #072b61;
    padding: 10px 0;
    width: 200px;
}

.CopyButton:hover{
    cursor: pointer;
    
}

@media (max-width:992px){
    body{background:#EFF1FA;}
    header{width: auto;}
    .icon{
        width: 10%;
        padding: auto; 
        margin:40px 10px 0 40px;
    }
    .text{
        display: inline-block;
        }
    .inputText{
        width: 80%;
        margin:20px 0 0 40px;
        font-size:20px;
        border:2px solid #adb5bd;
        background: #EFF1FA;
        color:#0A3871;
        display: inline-block;
        
    }
  
    .buttons{
        margin: 280px 0 0 0;
        display: inline;
    }


    form label{
        display: block;
        font-size:20px;
        margin: 0 0 30px 40px;
    
    }

    .EncryptorButton{
        width: 300px;
        font-size: 20px;
        margin: 0 0 20px 50px;
        border:none;
        border-radius: 20px;
        padding: 10px 0;
        background-color: #072b61;
        color: #adb5bd;
        display: inline-block;
        
    
    }

    .EncryptorButton:hover{
        cursor: pointer;
    }
    .DecryptorButton{
        width: 300px;
        font-size: 20px;
        border:none;
        border-radius: 20px;
        padding: 10px 0;
        background-color: #adb5bd;
        color: #072b61;
        margin-left: 50px;
        
        
    }

    .DecryptorButton:hover{
        cursor: pointer;
    }

    .CopyButton{
        display: none;
        
        margin: 380px 60px 20px 60px;
        font-size: 20px;
        border:none;
        border-radius: 20px;
        background-color: #adb5bd;
        color: #072b61;
        padding: 10px 0;
        width: 200px;
    }

    .CopyButton:hover{
        cursor: pointer;
        
    }



    
    .rectangle {
        display: inline-block;

        background-color: #e9ecf8;
        border-radius: 20px;
        width: 300px;
        height: 450px;
        margin: 480px 0 0 50px;
        text-align: start;
        box-shadow: 10px 10px 5px #000;
        
    }
    .imgOff{
        width: 50%;
        position: absolute;
        margin: 50px 0 0 75px;
        
    }

    #ShowText{
        margin:20px 0 0 30px;
        font-size:20px;
        border:none;
        background: #e9ecf8;
        color:#0A3871;
        
        display:none;
        resize: none;
    }
    .textAdvice{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 220px 50px 0 50px;
        position: absolute;
    
        
    }
    .textMessage{
        font-size: 15px;
        text-align: center;
        position: absolute;
        margin-top: 280px;
    }

    .resultText{
        position: absolute;
        display: flex;
        margin: 50px 50px 0 50px;
        font-size: 20px;
        padding: auto;
        text-align: justify;
    }
}